@charset "UTF-8";
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@-webkit-keyframes mainPlay {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes mainPlay {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes textUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes textUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes bounceCard {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-4px);
  }
}
@keyframes bounceCard {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-4px);
  }
}
main {
  width: 100%;
  height: 769px;
}
main .main-view {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
main .main-view .bg-main-view {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
main .main-view .bg-main-view img {
  width: auto;
  height: 100%;
  -webkit-animation: mainPlay 1.5s linear 1;
          animation: mainPlay 1.5s linear 1;
}
main .main-view .main-view-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.7;
  display: flex;
  flex-direction: column;
}
main .main-view .main-view-text p {
  opacity: 0;
  -webkit-animation: textUp 1.5s ease-in-out 1;
          animation: textUp 1.5s ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
main .main-view .main-view-text p:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
main .main-view .main-view-text p:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
main .main-view .main-view-text .point-text {
  font-family: "Permanent Marker", cursive;
  color: #FABC1D;
  margin-top: -8px;
  z-index: 1;
}
main .tour-search-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 95%;
  max-width: 1056px;
  z-index: 1;
  padding: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
  background: #fff;
  display: flex;
  gap: 32px;
  margin: 0 auto;
}
main .tour-search-bar fieldset {
  flex-basis: 35%;
  padding-right: 32px;
  border-right: 1px solid #F4F4F4;
}
main .tour-search-bar fieldset legend {
  padding-left: 16px;
  color: #9A9A9A;
}
main .tour-search-bar .select-course {
  padding-left: 0;
}
main .tour-search-bar .select-date .tour-date-selected {
  width: calc(100% - 32px);
  padding: 12px 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.125rem;
  line-height: 24px;
  padding: 12px 16px;
  border: none;
  outline: none;
}
main .tour-search-bar .select-tourist-number {
  flex-basis: 30%;
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-between;
}
main .tour-search-bar .select-tourist-number .tourist {
  flex-basis: 50%;
}
main .tour-search-bar .btn-tour-search {
  flex-basis: 10%;
  min-width: 74px;
  background: #FABC1D;
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .tour-search-bar .btn-tour-search .search-text {
  display: none;
}

/* 투어 코스 영역 */
#tour-course {
  margin-top: 80px;
}
#tour-course .tour-container h2 span {
  position: relative;
  overflow: visible;
}
#tour-course .tour-container h2 span::before {
  content: "";
  display: block;
  background: url("../images/circle-line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 125%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
#tour-course .tour-container .tour-list {
  display: flex;
  gap: 32px;
}
#tour-course .tour-container .tour-list li {
  flex: 1 1 30%;
  border: 1px solid #F4F4F4;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  transition: all 0.4s;
  opacity: 0;
  transform: translateY(50%);
  transition: all 1s;
}
#tour-course .tour-container .tour-list li:nth-child(2) {
  transform: translateY(80%);
}
#tour-course .tour-container .tour-list li:nth-child(3) {
  transform: translateY(100%);
}
#tour-course .tour-container .tour-list li.course-act {
  opacity: 1;
  transform: translateY(0);
}
#tour-course .tour-container .tour-list li .tour-img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  -o-object-fit: cover;
}
#tour-course .tour-container .tour-list li .tour-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 32px 24px 42px;
  box-sizing: border-box;
}
#tour-course .tour-container .tour-list li .tour-info .tour-name {
  font-size: 1.25;
  font-weight: bold;
  transition: color 0.4s;
}
#tour-course .tour-container .tour-list li .tour-info .tour-text {
  color: #555555;
  font-size: 0.875rem;
}
#tour-course .tour-container .tour-list li:hover {
  border-color: #FABC1D;
  -webkit-animation: bounceCard 1s linear;
          animation: bounceCard 1s linear;
}
#tour-course .tour-container .tour-list li:hover .tour-info .tour-name {
  color: #FABC1D;
}

/* 서울 투어 명소 영역 */
#seoul-spot {
  background-color: #F8FBFF;
  padding: 100px 0;
}
#seoul-spot .seoul-spot-content .tabs {
  display: flex;
  justify-content: center;
  gap: 32px;
}
#seoul-spot .seoul-spot-content .tabs .tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 80px;
  cursor: pointer;
}
#seoul-spot .seoul-spot-content .tabs .tab img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#seoul-spot .seoul-spot-content .tabs .tab .tab-name {
  font-size: 0.8125rem;
}
#seoul-spot .seoul-spot-content .tabs .tab.active {
  color: #FABC1D;
  font-weight: bold;
}
#seoul-spot .seoul-spot-content .tabs .tab.active img {
  border: 2px solid #FABC1D;
  padding: 4px;
  box-sizing: border-box;
}
#seoul-spot .seoul-spot-content .content .spot:not(.active) {
  display: none;
}
#seoul-spot .seoul-spot-content .content .spot .swiper {
  width: 100%;
}
#seoul-spot .seoul-spot-content .content .spot .swiper-wrapper {
  width: 100%;
  height: auto;
  padding: 40px 0 20px;
  align-items: center;
}
#seoul-spot .seoul-spot-content .content .spot .swiper-wrapper .swiper-slide:not(.swiper-slide-active) {
  opacity: 40%;
  filter: blur(4px);
}
#seoul-spot .seoul-spot-content .content .spot .swiper-horizontal .swiper-scrollbar {
  width: 58% !important;
  height: 2px;
  bottom: 0;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
#seoul-spot .seoul-spot-content .content .spot .swiper-button-prev,
#seoul-spot .seoul-spot-content .content .spot .swiper-button-next {
  color: #333333 !important;
}
#seoul-spot .seoul-spot-content .content .spot .swiper-button-prev {
  left: 15% !important;
}
#seoul-spot .seoul-spot-content .content .spot .swiper-button-next {
  right: 15% !important;
}
#seoul-spot .seoul-spot-content .content .spot .spot-card {
  width: 60%;
  height: auto;
  margin: 0 10%;
  border-radius: 8px;
  overflow: hidden;
}
#seoul-spot .seoul-spot-content .content .spot .spot-card .spot-img {
  width: 100%;
}
#seoul-spot .seoul-spot-content .content .spot .spot-card .spot-img img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  -o-object-fit: cover;
}
#seoul-spot .seoul-spot-content .content .spot .spot-card .spot-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  color: #dbdbdb;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 100%);
}
#seoul-spot .seoul-spot-content .content .spot .spot-card .spot-content .spot-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 6px;
  color: #ffffff;
}

/* 투어 서비스 */
#tour-service .tour-service-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
}
#tour-service .tour-service-container h2 {
  text-align: left;
}
#tour-service .tour-service-container .service-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-top: 100px;
}
#tour-service .tour-service-container .service-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  width: 400px;
  padding: 40px 32px 32px;
  box-sizing: border-box;
  background: #F8F8F8;
  opacity: 0;
  margin-top: 100px;
  transition: all 1s;
}
#tour-service .tour-service-container .service-list li:nth-child(even) {
  transform: translateY(-70%);
}
#tour-service .tour-service-container .service-list li.service-act {
  opacity: 1;
  margin-top: 0;
}
#tour-service .tour-service-container .service-list li .service-info .service-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 6px;
}
#tour-service .tour-service-container .service-list li .service-icon {
  width: 140px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: flex-end;
}

/* 투어 후기 */
#tour-review {
  background: #FFFBF0;
  padding: 100px 0;
}
#tour-review .best-review {
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  gap: 32px;
}
#tour-review .best-review > li {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.08);
  background: #ffffff;
}
#tour-review .best-review .review-card .review-title {
  font-weight: 600;
}
#tour-review .best-review .review-card .review-content {
  font-size: 0.875rem;
  color: #333333;
  height: 64px;
  overflow: hidden;
}
#tour-review .best-review .review-card .review-tag {
  display: flex;
  gap: 6px;
  font-size: 0.75rem;
  color: #FABC1D;
  padding: 12px 0 16px;
}
#tour-review .best-review .review-card .review-tag > li {
  width: auto;
  padding: 4px 8px;
  border: 1px solid #FABC1D;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: 500;
}
#tour-review .best-review .review-card .review-writer {
  font-size: 0.75rem;
  color: #555555;
  display: flex;
  margin-bottom: 4px;
}
#tour-review .best-review .review-card .review-writer .writer::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  margin: 6px;
  background: #555555;
  vertical-align: middle;
}
#tour-review .best-review .review-img {
  width: 100%;
  height: 100%;
}
#tour-review .best-review .review-img img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  -o-object-fit: cover;
  border-radius: 8px;
}
#tour-review .btn-all {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  margin: 40px auto 0;
}
#tour-review .btn-all .btn {
  padding: 12px 24px;
  display: inline-block;
}

/* 퀵 아이콘 메뉴 */
#quick-menu .quick-menu-container .icon-menu {
  display: flex;
  gap: 32px;
}
#quick-menu .quick-menu-container .icon-menu li {
  flex: 1 1 30%;
  height: calc(100% + 24px);
  padding: 24px;
  background: #F8F8F8;
  border-radius: 8px;
  border: 1px solid #F8F8F8;
  box-sizing: border-box;
  transition: all 0.4s;
  font-weight: bold;
}
#quick-menu .quick-menu-container .icon-menu li .menu-title {
  font-size: 0.875rem;
  padding-bottom: 42px;
}
#quick-menu .quick-menu-container .icon-menu li .menu-icon {
  width: 100%;
  height: 48px;
  text-align: right;
}
#quick-menu .quick-menu-container .icon-menu li .menu-icon img {
  display: inline-block;
}
#quick-menu .quick-menu-container .icon-menu li:hover {
  border-color: #FABC1D;
}
#quick-menu .quick-menu-container .notice {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 64px;
  border-radius: 8px;
  margin-top: 32px;
  padding: 20px 40px;
  background: #FAFAFA;
  border: 1px solid #FABC1D;
  box-sizing: border-box;
}
#quick-menu .quick-menu-container .notice .notice-name {
  flex-basis: 70px;
  font-weight: 600;
}
#quick-menu .quick-menu-container .notice .notice-list {
  flex-basis: 84%;
  height: 24px;
}
#quick-menu .quick-menu-container .notice .btn-more {
  flex-basis: 70px;
}
#quick-menu .quick-menu-container .notice .btn-more span {
  vertical-align: middle;
  font-weight: 600;
}
#quick-menu .quick-menu-container .notice .btn-more img {
  display: inline-block;
  vertical-align: middle;
}
#quick-menu .quick-menu-container .notice .btn-more:hover {
  color: #FABC1D;
}
#quick-menu .quick-menu-container .notice .btn-more:hover img {
  filter: invert(79%) sepia(77%) saturate(3239%) hue-rotate(346deg) brightness(111%) contrast(96%);
}
#quick-menu .quick-menu-container .notice .swiper-slide {
  display: flex;
  gap: 32px;
}
#quick-menu .quick-menu-container .notice .swiper-slide .notice-list-title {
  flex-basis: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}
#quick-menu .quick-menu-container .notice .swiper-slide .notice-list-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}