/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
main {
  width: 100%;
  height: 100vh;
  max-height: 800px;
}
main .main-view {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  z-index: -1;
}
main .main-view .bg-main-view img {
  width: auto;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
main .main-view .main-view-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.7;
}
main .main-view .main-view-text .point-text {
  font-family: "Permanent Marker", cursive;
  color: #FABC1D;
  transform: translateY(-10px);
}
main .tour-search-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 95%;
  max-width: 1056px;
  padding: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
  background: #fff;
  display: flex;
  gap: 32px;
  margin: 0 auto;
}
main .tour-search-bar fieldset {
  flex-basis: 35%;
  padding-right: 32px;
  border-right: 1px solid #F4F4F4;
}
main .tour-search-bar fieldset legend {
  padding-left: 16px;
  color: #9A9A9A;
}
main .tour-search-bar .tour-course {
  padding-left: 0;
}
main .tour-search-bar .tour-date .tour-date-selected {
  width: calc(100% - 32px);
  padding: 12px 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.125rem;
  line-height: 24px;
  padding: 12px 16px;
  border: none;
  outline: none;
}
main .tour-search-bar .tourist-number {
  flex-basis: 30%;
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-between;
}
main .tour-search-bar .tourist-number .tourist {
  flex-basis: 50%;
}
main .tour-search-bar .btn-tour-search {
  flex-basis: 10%;
  min-width: 74px;
  background: #FABC1D;
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .tour-search-bar .btn-tour-search .search-text {
  display: none;
}

@media (max-width: 1000px) {
  main .tour-search-bar {
    flex-direction: column;
    gap: 24px;
  }
  main .tour-search-bar fieldset {
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid #F4F4F4;
  }
  main .tour-search-bar fieldset .select-box {
    min-width: 100%;
  }
  main .tour-search-bar .btn-tour-search {
    min-height: 54px;
  }
  main .tour-search-bar .btn-tour-search .ic-search {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
  main .tour-search-bar .btn-tour-search .search-text {
    display: block;
    color: #fff;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  main .main-view {
    min-height: 100vh;
    overflow: hidden;
  }
  main .main-view .bg-main-view img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .main-view .main-view-text {
    font-size: 72px;
    top: 30%;
  }
  main .main-view .main-view-text .point-text {
    transform: translateY(-5px);
  }
  main .tour-search-bar {
    width: calc(100% - 40px);
    padding: 24px;
    bottom: 20px;
    transform: translate(-50%, 0);
  }
}