@charset "UTF-8";
/* -------- Tablet -------- */
@media (max-width: 1023px) {
  /* main-view - tablet */
  main {
    height: 904px;
  }
  main .tour-search-bar {
    flex-direction: column;
    gap: 24px;
  }
  main .tour-search-bar fieldset {
    padding-right: 0;
    border-right: none;
  }
  main .tour-search-bar fieldset .select-box {
    min-width: 100%;
  }
  main .tour-search-bar .btn-tour-search {
    min-height: 54px;
  }
  main .tour-search-bar .btn-tour-search .ic-search {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
  main .tour-search-bar .btn-tour-search .search-text {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  /* 투어 코스 영역 - tablet */
  #tour-course .tour-container .tour-list {
    gap: 16px;
  }
  /* 서울 투어 명소 영역 -tablet */
  #seoul-spot .seoul-spot-content .content .spot .swiper-horizontal .swiper-scrollbar {
    width: 78% !important;
  }
  #seoul-spot .seoul-spot-content .content .spot .swiper-button-prev {
    left: 4% !important;
  }
  #seoul-spot .seoul-spot-content .content .spot .swiper-button-next {
    right: 4% !important;
  }
  #seoul-spot .seoul-spot-content .content .spot .spot-card {
    width: 80%;
    margin: 0 8%;
  }
  /* 투어 서비스 - tablet */
  #tour-service .tour-service-container {
    width: 95%;
  }
  #tour-service .tour-service-container .service-list {
    width: 100%;
  }
  #tour-service .tour-service-container .service-list li {
    width: 100%;
  }
  #tour-service .tour-service-container .service-list .service-info .service-title {
    font-size: 1rem;
  }
  #tour-service .tour-service-container .service-list .service-info .service-content {
    font-size: 0.875rem;
  }
  /* 투어 후기 - tablet */
  #tour-review .best-review > li:last-child {
    display: none;
  }
  /* 퀵 아이콘 메뉴 -tablet */
  #quick-menu .quick-menu-container .icon-menu {
    flex-wrap: wrap;
    gap: 16px;
  }
  #quick-menu .quick-menu-container .notice {
    padding: 20px 32px;
  }
  #quick-menu .quick-menu-container .notice .btn-more {
    flex-basis: 24px;
  }
  #quick-menu .quick-menu-container .notice .btn-more span {
    display: none;
  }
  #quick-menu .quick-menu-container .notice .btn-more img {
    width: 24px;
    height: 24px;
  }
}
/* -------- mobile -------- */
@media (max-width: 768px) {
  /* main-view - mobile */
  main {
    height: 100vh;
  }
  main .main-view {
    min-height: 100vh;
    overflow: hidden;
  }
  main .main-view .bg-main-view img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .main-view .main-view-text {
    font-size: 72px;
    top: 30%;
  }
  main .main-view .main-view-text .point-text {
    transform: translateY(-5px);
  }
  main .tour-search-bar {
    width: calc(100% - 40px);
    padding: 24px;
    bottom: 20px;
    transform: translate(-50%, 0);
  }
  /* 투어 코스 영역 - mobile */
  #tour-course .tour-container .tour-list {
    flex-direction: column;
  }
  #tour-course .tour-container .tour-list li {
    max-width: 460px;
    margin: 0 auto;
  }
  #tour-course .tour-container .tour-list li .tour-info .tour-name {
    font-size: 1;
  }
  #tour-course .tour-container .tour-list li .tour-info .tour-text {
    display: inline;
    font-size: 14px;
  }
  /* 서울 투어 명소 영역 - mobile*/
  #seoul-spot .seoul-spot-content .tabs {
    gap: 6px;
  }
  #seoul-spot .seoul-spot-content .tabs .tab {
    min-width: 80px;
  }
  #seoul-spot .seoul-spot-content .tabs .tab img {
    width: 65px;
    height: 65px;
  }
  #seoul-spot .seoul-spot-content .content .spot .swiper-button-prev,
#seoul-spot .seoul-spot-content .content .spot .swiper-button-next {
    display: none;
  }
  #seoul-spot .seoul-spot-content .content .spot .spot-card .spot-img img {
    aspect-ratio: 3/2;
  }
  #seoul-spot .seoul-spot-content .content .spot .spot-card .spot-content {
    padding: 4% 8%;
  }
  #seoul-spot .seoul-spot-content .content .spot .spot-card .spot-content .spot-name {
    font-size: 1rem;
  }
  #seoul-spot .seoul-spot-content .content .spot .spot-card .spot-content .spot-info {
    display: none;
  }
  /* 투어 서비스 - mobile */
  #tour-service .tour-service-container {
    width: 100%;
  }
  #tour-service .tour-service-container h2 {
    text-align: center;
  }
  #tour-service .tour-service-container .service-list {
    grid-template-columns: 100%;
    gap: 16px;
    margin-top: 0;
    justify-items: center;
  }
  #tour-service .tour-service-container .service-list li {
    max-width: 450px;
    padding: 32px 24px 24px;
  }
  #tour-service .tour-service-container .service-list li:nth-child(even) {
    transform: none;
  }
  #tour-service .tour-service-container .service-list li:nth-child(1) {
    order: 2;
  }
  #tour-service .tour-service-container .service-list li:nth-child(2) {
    order: 1;
  }
  #tour-service .tour-service-container .service-list li:nth-child(3) {
    order: 4;
  }
  #tour-service .tour-service-container .service-list li:nth-child(4) {
    order: 3;
  }
  #tour-service .tour-service-container .service-list li .service-icon {
    width: 120px;
    height: 100px;
  }
  /* 퀵 아이콘 메뉴 - mobile */
  #quick-menu .quick-menu-container .icon-menu li {
    flex-basis: 40%;
  }
  #quick-menu .quick-menu-container .notice {
    gap: 16px;
    padding: 16px 20px;
    font-size: 0.875rem;
    line-height: 24px;
  }
  #quick-menu .quick-menu-container .notice .swiper-slide .notice-list-title {
    flex-basis: 100%;
    font-weight: 400;
  }
  #quick-menu .quick-menu-container .notice .swiper-slide .notice-list-content {
    display: none;
  }
}
/* -------- mobile - min -------- */
@media (max-width: 460px) {
  /* 서울 투어 명소 영역 - mobile-min */
  #seoul-spot {
    padding: 60px 0;
  }
  #seoul-spot .seoul-spot-content .tabs {
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  #seoul-spot .seoul-spot-content .tabs .tab:first-child {
    margin-left: 20px;
  }
  #seoul-spot .seoul-spot-content .tabs .tab:last-child {
    margin-right: 20px;
  }
  #seoul-spot .seoul-spot-content .tabs::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  #seoul-spot .seoul-spot-content .content .spot .swiper-wrapper {
    padding: 24px 0 20px;
  }
  #seoul-spot .seoul-spot-content .content .spot .swiper-wrapper .swiper-slide:not(.swiper-slide-active) {
    opacity: 60%;
    filter: blur(2px);
  }
  #seoul-spot .seoul-spot-content .content .spot .swiper-horizontal .swiper-scrollbar {
    width: calc(100% - 46px) !important;
  }
  #seoul-spot .seoul-spot-content .content .spot .spot-card {
    width: calc(100% - 40px);
    margin: 0 8%;
  }
  /* 투어 후기 - mobile-min */
  #tour-review {
    padding: 60px 0;
  }
  #tour-review .best-review {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 0;
    -webkit-overflow-scrolling: touch;
    /* 스크롤바 안보이게 스타일
    &::-webkit-scrollbar {
      width: 0;
    }
    */
  }
  #tour-review .best-review > li {
    min-width: 80vw;
    flex: 1 1 auto;
    box-shadow: none;
  }
  #tour-review .best-review > li:first-child {
    margin-left: 40px;
  }
  #tour-review .best-review > li:last-child {
    display: inline-block;
    margin-right: 40px;
  }
}