@import './style.scss';

main {
  width: 100%;
  height: 100vh;
  max-height: 800px;

  .main-view {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    z-index: -1;

    .bg-main-view {
      img {
        width: auto;
        height: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .main-view-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 120px;
      font-weight: 900;
      font-family: $Roboto;
      text-transform: uppercase;
      text-align: center;
      line-height: 0.7;

      .point-text {
        font-family: $Permanent_Marker;
        color: $brand_color;
        transform: translateY(-10px);
      }
    }
  }

  .tour-search-bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 95%;
    max-width: 1056px;
    
    padding: 32px;
    border-radius: $radius-8;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(#000, .08);
    background: #fff;
    display: flex;
    gap: 32px;
    margin: 0 auto;

    fieldset {
      flex-basis: 35%;
      padding-right: 32px;
      border-right: 1px solid $gray100;
      legend {
        padding-left: 16px;
        color: $gray400;
      }
    }

    .tour-course {
      padding-left: 0;
    }

    .tour-date {
      .tour-date-selected {
        width: calc(100% - 32px);
        padding: 12px 16px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.125rem;
        line-height: 24px;
        padding: 12px 16px;
        border: none;
        outline: none;
      }
    }

    .tourist-number{
      flex-basis: 30%;
      padding: 0;
      border: none;
      display: flex;
      justify-content: space-between;
      .tourist {
        flex-basis: 50%;
      }
    }

    .btn-tour-search {
      flex-basis: 10%;
      min-width: 74px;
      background: $brand_color;
      border-radius: $radius-8;
      border: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      .search-text {
        display: none;
      }
    }
  }
}


@media (max-width: 1000px) { 
  main {
    .tour-search-bar {
      flex-direction: column;
      gap: 24px;

      fieldset {
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid $gray100;
        .select-box {
          min-width: 100%;
        }
      }
      .btn-tour-search {
        min-height: 54px;
        .ic-search {
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }
        .search-text {
          display: block;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    .main-view {
      min-height: 100vh;
      overflow: hidden;
      .bg-main-view {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .main-view-text {
        font-size: 72px;
        top : 30%;

        .point-text {
          transform: translateY(-5px);
        }
      }
    }
    .tour-search-bar {
      width: calc(100% - 40px);
      padding: 24px;
      bottom: 20px;
      transform: translate(-50%, 0);
    }
  }
}