@import './style.scss';

main {
  width: 100%;
  height: calc(700px + 69px);

  .main-view {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;

    .bg-main-view {
      img {
        width: auto;
        height: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .main-view-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 120px;
      font-weight: 900;
      font-family: $Roboto;
      text-transform: uppercase;
      text-align: center;
      line-height: 0.7;

      .point-text {
        font-family: $Permanent_Marker;
        color: $brand_color;
        transform: translateY(-10px);
      }
    }
  }

  .tour-search-bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 95%;
    max-width: 1056px;
    z-index: 1;
    
    padding: 32px;
    border-radius: $radius-8;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(#000, .08);
    background: #fff;
    display: flex;
    gap: 32px;
    margin: 0 auto;

    fieldset {
      flex-basis: 35%;
      padding-right: 32px;
      border-right: 1px solid $gray100;
      legend {
        padding-left: 16px;
        color: $gray400;
      }
    }

    .tour-course {
      padding-left: 0;
    }

    .tour-date {
      .tour-date-selected {
        width: calc(100% - 32px);
        padding: 12px 16px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.125rem;
        line-height: 24px;
        padding: 12px 16px;
        border: none;
        outline: none;
      }
    }

    .tourist-number{
      flex-basis: 30%;
      padding: 0;
      border: none;
      display: flex;
      justify-content: space-between;
      .tourist {
        flex-basis: 50%;
      }
    }

    .btn-tour-search {
      flex-basis: 10%;
      min-width: 74px;
      background: $brand_color;
      border-radius: $radius-8;
      border: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      .search-text {
        display: none;
      }
    }
  }
}

/* 투어 코스 영역 */
#tour-course {
  margin-top: 80px;

  .tour-container {
    h2 {
      span {
        position: relative;
        overflow: visible;

        &::before {
          content: '';
          display: block;
          background: url('../images/circle-line.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 100%;
          height: 125%;
          
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: -1;
        }
      }
    }

    .tour-list {
      display: flex;
      gap: 32px;
      
      li {
        flex: 1 1 30%;
        border: 1px solid $gray100;
        border-radius: $radius-8;
        overflow: hidden;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.08);
        box-sizing: border-box;
        transition: all .4s;

        .tour-img {
          width: 100%;
          height: 320px;
          object-fit: cover;
          -o-object-fit: cover;
        }

        .tour-info {
          display: flex;
          flex-direction: column;
          gap: 6px;
          padding: 32px 24px 42px;
          box-sizing: border-box;

          .tour-name {
            font-size: 1.25;
            font-weight: bold;
            transition: color .4s;
          }
          .tour-text {
            color: $gray600;
          }
        }

        &:hover {
          border-color: $brand_color;
          .tour-info {
            .tour-name {
              color: $brand_color;
            }
          }
        }
      }
    }
  }
}

/* 서울 투어 명소 영역 */
#seoul-spot {
  background-color: #F8FBFF;
  padding: 100px 0;

  .seoul-spot-content {
    .tabs {
      display: flex;
      justify-content: center;
      gap: 32px;

      .tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        width: 80px;
        cursor: pointer;
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
        .tab-name {
          font-size: .8125rem;
        }

        &.active {
          color: $brand_color;
          font-weight: bold;
          img {
            border: 2px solid $brand_color;
            padding: 4px;
            box-sizing: border-box;
          }
        }
      }
    }

    .content {
      .spot {
        &:not(.active){
          display: none;
        }

        .swiper {
          width: 100%;
        }
        .swiper-wrapper {
          width: 100%;
          height: auto;
          padding: 40px 0 20px;
          align-items: center;

          .swiper-slide:not(.swiper-slide-active) {
            opacity: 40%;
            filter: blur(4px);
          }
        }

        //swiper 인라인스타일 제어
        .swiper-horizontal .swiper-scrollbar{
          width: 58% !important;
          height: 2px;
          bottom: 0;
          left: 50% !important;
          transform: translateX(-50%) !important;
        }
        .swiper-button-prev,
        .swiper-button-next {
          color: $gray700 !important;
        }
        .swiper-button-prev {
          left: 15% !important;
        }
        .swiper-button-next {
          right: 15% !important;
        }

        // 서울 명소 카드
        .spot-card {
          width: 60%;
          height: auto;
          margin: 0 10%;
          border-radius: $radius-8;
          overflow: hidden;

          .spot-img {
            $width: 100%;
            width: $width;
            height: ratio($width, 16/9);

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .spot-content {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            padding: 5%;
            box-sizing: border-box;
            color: $gray300;
            background: linear-gradient(to top, rgba(#000, .8), rgba(#000, 0) 100%);

            .spot-name{
              font-size: 1.25rem;
              font-weight: bold;
              margin-bottom: 6px;
              color: $white;
            }
          }
        }
      }
    }
  }
}

/* 투어 서비스 */
#tour-service {
  display: none;
  .tour-service-container {
    width: 60%;
    height: auto;
    h2 {
      text-align: left;
    }
    .service-list {
      display: flex;

      li {
        flex: 1 1 50%;
      }
    }
  }
}


/* 퀵 아이콘 메뉴 */
#quick-menu {
  .quick-menu-container {
    .icon-menu {
      display: flex;
      gap: 32px;

      li {
        flex: 1 1 30%;
        padding: 24px;
        background: #F8F8F8;
        border-radius: $radius-8;
        border: 1px solid #F8F8F8;
        box-sizing: border-box;
        transition: all .4s;
        font-weight: bold;

        .menu-title {
          padding-bottom: 42px;
        }
        .menu-icon {
          width: 100%;
          height: 48px;
          text-align: right;
          img {
            display: inline-block;
          }
        }
        &:hover {
          border-color: $brand_color;
        }
      }
    }
  }
}