@import './style.scss';

@keyframes mainPlay {
  0% { transform: scale(1.2);}
  100% { transform: scale(1); }
}
@keyframes textUp {
  0% { transform: translateY(50%); opacity: 0;}
  100% { transform: translateY(0); opacity: 1;}
}

@keyframes bounceCard {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-4px);}
}


main {
  width: 100%;
  height: calc(700px + 69px);

  .main-view {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;

    .bg-main-view {
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: auto;
        height: 100%;
        animation: mainPlay 1.5s linear 1;
      }
    }
    .main-view-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 120px;
      font-weight: 900;
      font-family: $Roboto;
      text-transform: uppercase;
      text-align: center;
      line-height: 0.7;

      display: flex;
      flex-direction: column;

      p {
        opacity: 0;
        animation: textUp 1.5s ease-in-out 1;
        animation-fill-mode: forwards;
        &:nth-child(2) { animation-delay: .5s; }
        &:nth-child(3) { animation-delay: 1s; }
      }

      .point-text {
        font-family: $Permanent_Marker;
        color: $brand_color;
        margin-top: -8px;
        z-index: 1;
      }
    }
  }

  .tour-search-bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 95%;
    max-width: 1056px;
    z-index: 1;
    
    padding: 32px;
    border-radius: $radius-8;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(#000, .08);
    background: #fff;
    display: flex;
    gap: 32px;
    margin: 0 auto;

    fieldset {
      flex-basis: 35%;
      padding-right: 32px;
      border-right: 1px solid $gray100;
      legend {
        padding-left: 16px;
        color: $gray400;
      }
    }

    .select-course {
      padding-left: 0;
    }

    .select-date {
      .tour-date-selected {
        width: calc(100% - 32px);
        padding: 12px 16px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.125rem;
        line-height: 24px;
        padding: 12px 16px;
        border: none;
        outline: none;
      }
    }

    .select-tourist-number{
      flex-basis: 30%;
      padding: 0;
      border: none;
      display: flex;
      justify-content: space-between;
      .tourist {
        flex-basis: 50%;
      }
    }

    .btn-tour-search {
      flex-basis: 10%;
      min-width: 74px;
      background: $brand_color;
      border-radius: $radius-8;
      border: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      .search-text {
        display: none;
      }
    }
  }
}

/* 투어 코스 영역 */
#tour-course {
  margin-top: 80px;
  .tour-container {
    h2 {
      span {
        position: relative;
        overflow: visible;

        &::before {
          content: '';
          display: block;
          background: url('../images/circle-line.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 100%;
          height: 125%;
          
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: -1;
        }
      }
    }

    .tour-list {
      display: flex;
      gap: 32px;

      li {
        flex: 1 1 30%;
        border: 1px solid $gray100;
        border-radius: $radius-8;
        overflow: hidden;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.08);
        box-sizing: border-box;
        transition: all .4s;

        // 투어코스 스트롤 이벤트
        opacity: 0;
        transform: translateY(50%);
        transition: all 1s;
        &:nth-child(2) {transform: translateY(80%);}
        &:nth-child(3) {transform: translateY(100%);}

        &.course-act {
          opacity: 1;
          transform: translateY(0);
        }
        // 스크롤 이벤트 끝

        .tour-img {
          width: 100%;
          aspect-ratio: 3/2;
          object-fit: cover;
          -o-object-fit: cover;
        }

        .tour-info {
          display: flex;
          flex-direction: column;
          gap: 6px;
          padding: 32px 24px 42px;
          box-sizing: border-box;

          .tour-name {
            font-size: 1.25;
            font-weight: bold;
            transition: color .4s;
          }
          .tour-text {
            color: $gray600;
            font-size: 0.875rem;
          }
        }

        &:hover {
          border-color: $brand_color;
          animation: bounceCard 1s linear;

          .tour-info {
            .tour-name {
              color: $brand_color;
            }
          }
        }
      }
    }
  }
}

/* 서울 투어 명소 영역 */
#seoul-spot {
  background-color: #F8FBFF;
  padding: 100px 0;

  .seoul-spot-content {
    .tabs {
      display: flex;
      justify-content: center;
      gap: 32px;

      .tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        width: 80px;
        cursor: pointer;
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
        .tab-name {
          font-size: .8125rem;
        }

        &.active {
          color: $brand_color;
          font-weight: bold;
          img {
            border: 2px solid $brand_color;
            padding: 4px;
            box-sizing: border-box;
          }
        }
      }
    }

    .content {
      .spot {
        &:not(.active){
          display: none;
        }

        .swiper {
          width: 100%;
        }
        .swiper-wrapper {
          width: 100%;
          height: auto;
          padding: 40px 0 20px;
          align-items: center;

          .swiper-slide:not(.swiper-slide-active) {
            opacity: 40%;
            filter: blur(4px);
          }
        }

        //swiper 인라인스타일 제어
        .swiper-horizontal .swiper-scrollbar{
          width: 58% !important;
          height: 2px;
          bottom: 0;
          left: 50% !important;
          transform: translateX(-50%) !important;
        }
        .swiper-button-prev,
        .swiper-button-next {
          color: $gray700 !important;
        }
        .swiper-button-prev {
          left: 15% !important;
        }
        .swiper-button-next {
          right: 15% !important;
        }

        // 서울 명소 카드
        .spot-card {
          width: 60%;
          height: auto;
          margin: 0 10%;
          border-radius: $radius-8;
          overflow: hidden;

          .spot-img {
            width: 100%;
            img {
              width: 100%;
              aspect-ratio: 16/9;
              object-fit: cover;
              -o-object-fit: cover;
            }
          }
          .spot-content {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            padding: 5%;
            box-sizing: border-box;
            color: $gray300;
            background: linear-gradient(to top, rgba(#000, .8), rgba(#000, 0) 100%);

            .spot-name{
              font-size: 1.25rem;
              font-weight: bold;
              margin-bottom: 6px;
              color: $white;
            }
          }
        }
      }
    }
  }
}


/* 투어 서비스 */
#tour-service {
  .tour-service-container {
    width: max-content;
    height: auto;
    h2 {
      text-align: left;
    }
    .service-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
      margin-top: 100px;

      li {
        &:nth-child(even) { transform: translateY(-70%); }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6px;

        width: 400px;
        padding: 40px 32px 32px;
        box-sizing: border-box;
        background: #F8F8F8;


        // 투어서비스 스트롤 이벤트
        opacity: 0;
        margin-top: 100px;
        transition: all 1s;

        &.service-act {
          opacity: 1;
          margin-top: 0;
        }
        // 스크롤 이벤트 끝
      

        .service-info {
          .service-title {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 6px;
          } 
        }
        .service-icon {
          width: 140px;
          height: 120px;
          object-fit: cover;
          align-self: flex-end;
        }
      }
    }
  }
}


/* 투어 후기 
#tour-review {
  background: #FFFBF0;
  padding: 100px 0;

  .best-review {
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    gap: 32px;

    > li {
      flex: 1 1 30%;
      display: flex;
      flex-direction: column;

      padding: 32px;
      border-radius: $radius-8;
      box-sizing: border-box;
      box-shadow: 2px 4px 10px rgba(#000, .08);
      background: $white;
    }

    .review-card {
      .review-title {
        font-weight: 600;
      }
      .review-content {
        font-size: .875rem;
        color: $gray700;
        height: 64px;
        overflow: hidden;
      }
      .review-tag {
        display: flex;
        gap: 6px;
        font-size: .75rem;
        color: $brand-color;
        padding: 12px 0 16px;

        > li {
          width: auto;
          padding: 4px 8px;
          border: 1px solid $brand-color;
          border-radius: 15px;
          box-sizing: border-box;
          font-weight: 500;
        }
      }
      .review-writer {
        font-size: .75rem;
        color: $gray600;
        display: flex;
        margin-bottom: 4px;

        .writer {
          &::after {
            content: '';
            display: inline-block;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            margin: 6px;
            background: $gray600;
            vertical-align: middle;
          }
        }
      }
    }

    .review-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        -o-object-fit: cover;
        border-radius: $radius-8;
      }
    }
  }
  .btn-all {
    width: max-content;
    height: 100%;
    margin: 40px auto 0;
    .btn {
      padding: 12px 24px;
      display: inline-block;
    }
  }
}
*/

/* 퀵 아이콘 메뉴 */
#quick-menu {
  .quick-menu-container {
    .icon-menu {
      display: flex;
      gap: 32px;

      li {
        flex: 1 1 30%;
        height: calc( 100% + 24px);
        padding: 24px;
        background: #F8F8F8;
        border-radius: $radius-8;
        border: 1px solid #F8F8F8;
        box-sizing: border-box;
        transition: all .4s;
        font-weight: bold;

        .menu-title {
          font-size: .875rem;
          padding-bottom: 42px;
        }
        .menu-icon {
          width: 100%;
          height: 48px;
          text-align: right;
          img {
            display: inline-block;
          }
        }
        &:hover {
          border-color: $brand_color;
        }
      }
    }

    .notice {
      display: flex;
      align-items: center;
      gap: 32px;
      
      height: calc( 24px + 40px);
      border-radius: $radius-8;
      margin-top: 32px;
      padding: 20px 40px;
      background: #FAFAFA;
      border: 1px solid $brand_color;
      box-sizing: border-box;

      .notice-name {
        flex-basis: 70px;
        font-weight: 600;
      }
      .notice-list {
        flex-basis: 84%;
        height: 24px;
      }

      .btn-more {
        flex-basis: 70px;
        span {
          vertical-align: middle;
          font-weight: 600;
        }
        img {
          display: inline-block;
          vertical-align: middle;
        }
        &:hover {
          color: $brand_color;
          img {
            filter: invert(79%) sepia(77%) saturate(3239%) hue-rotate(346deg) brightness(111%) contrast(96%);
          }
        }
      }

      .swiper-slide {
        display: flex;
        gap: 32px;

        .notice-list-title {
          flex-basis: 30%;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          font-weight: 500;
        }
        .notice-list-content {
          text-overflow:ellipsis;
          overflow: hidden;
          white-space:nowrap;
        }
      }
    }
  }
}


