// Colors
$brand_color: #FABC1D;

$black: #191919;
$white: #ffffff;

$gray100: #F4F4F4;
$gray200: #EAEAEA;
$gray300: #dbdbdb;
$gray400: #9A9A9A;
$gray500: #6A6A6A;
$gray600: #555555;
$gray700: #333333;


// Radius
$radius-8: 8px;
$radius-4: 4px;


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$Permanent_Marker:'Permanent Marker', cursive;



